#ContactForm1 {
    display: none;
}

#ContactForm1_contact-form-name, #ContactForm1_contact-form-email {
    width: 300px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    background: #fdfdfd;
    color: #666;
    border: 1px dashed #ddd;
    transition: all 0.5s ease-in-out;
}

#ContactForm1_contact-form-email-message {
    width: 450px;
    height: 175px;
    margin: 10px auto;
    padding: 10px;
    background: #fdfdfd;
    color: #666;
    font-family: 'Roboto',sans-serif;
    border: 1px dashed #ddd;
    transition: all 0.5s ease-in-out;
}

#ContactForm1_contact-form-name:focus, #ContactForm1_contact-form-email:focus, #ContactForm1_contact-form-email-message:focus {
    background: #fff;
    outline: none;
    border: 1px dashed #f8a82a;
}

#ContactForm1_contact-form-submit {
    font-family: 'Roboto';
    font-size: 15px;
    width: 101px;
    height: 35px;
    float: left;
    color: #fff;
    padding: 0;
    margin: 10px 0 3px 0;
    cursor: pointer;
    background: #aaa;
    border: none;
    border-radius: 2px;
    transition: background 0.4s linear;
}

#ContactForm1_contact-form-submit:hover {
    background: #f8a82a;
}

#ContactForm1_contact-form-error-message, #ContactForm1_contact-form-success-message {
    width: 450px;
    margin-top: 35px;
}

/* Arlina Main Navigation */
#navigation-hype{background:#fff;font-size:0;white-space:nowrap;padding:0;margin:0 auto;float:right}
#navigation-hype ul.menus{height:auto;overflow:hidden;position:absolute;z-index:99;display:none}
#navigation-hype a{display:block;position:relative;line-height:92px;padding:0 13px;color:#333;font-size:13px;font-weight:700;}
#navigation-hype ul,#navigation-hype li {margin:0 auto;padding:0;list-style:none}
#navigation-hype li{position:relative;float:left;line-height:92px;display:block;margin:0}
#navigation-hype li.ranpost {cursor:pointer;}
#navigation-hype li.indie a{background:rgba(0,0,0,0.03);color:#333;}
#navigation-hype li:hover .indie a,#navigation-hype li:hover.indie a{background:rgba(0,0,0,0.03);color:#333;}
#navigation-hype input {display:none;margin:0;padding:0;width:80px;height:45px;opacity:0;cursor:pointer}
#navigation-hype label {display:none;width:55px;height:48px;line-height:48px;text-align:center}
#navigation-hype label span {font-size:16px;position:absolute;left:55px}
#navigation-hype ul.menus li {display:block;width:100%;text-transform:none;text-shadow:none;}
#navigation-hype ul.menus a {color:#2ecc71;line-height:55px}
#navigation-hype li a:hover,#navigation-hype ul.menus a:hover {background:rgba(0,0,0,0.03);color:#333;}
#navigation-hype li ul{visibility:hidden;opacity:0;background:#fff;margin:0;height:auto;position:absolute;top:100%;left:0;z-index:12;box-shadow:0 4px 15px -2px rgba(0,0,0,0.1);}
#navigation-hype li:hover ul.menus,#navigation-hype li:hover > ul{visibility:visible;opacity:1;}
#navigation-hype li li{display:block;float:none;font-size:13px;height:auto;clear:both;margin-left:0;line-height:36px;border-bottom:1px solid rgba(0,0,0,0.05)}
#navigation-hype li li:last-child {border:0;}
#navigation-hype li ul ul {left:100%;top:0}
#navigation-hype li li > a{background:#fff;color:#888;display:block;margin:0;text-decoration:none;text-transform:none;min-width:200px;line-height:36px;padding:0 13px;font-size:11px;border:0;;border-left:3px solid transparent;margin-top:0}
#navigation-hype li li a:hover {background:#fcfcfc;color:#555;border-left:3px solid #bdc3c7;}


/* CSS TATA LETAK */

body#layout div.section { 
	background: transparent;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}
body#layout .section h4, body#layout .sosial-atas li {
	display: none;
}

body#layout #wrapper,{
	padding: 0 20px;
}
body#layout .header-wrapper {
    margin-top:0;
}
body#layout #header {
    min-height:0px;width:100%;
}
body#layout #headerdua {
    width:30%;float:left;
}
body#layout #content-wrapper {
	padding: 0 0 0 0;
}

body#layout #sidebar .widget-content {
	margin-bottom: 0;
}
body#layout .widget-content {
	margin-top: 0;
}
#layout #header{
    min-height:0px;width:100%;margin:10px 0 0 0;
}
nav  {display:block;}