/**
* Eric Meyer&#39;s Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;display:block;}*{margin:0;padding:0;}html{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}table{border-collapse:collapse;border-spacing:0;}

/* FRAMEWORK */
strong, b {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
a:link {
	color: #219FDE;
	text-decoration: none;
	outline: none;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a:visited {
	color: #219FDE;
	text-decoration: none;
}
a:hover {
	color: #EE3322;
	text-decoration: none;
}
a img {
	border: none;
	border-width: 0;
	outline: none;
}
abbr,acronym {
	border-bottom: 1px dotted;
	cursor: help;
}
sup,sub {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 86%;
}
sub {
	top: .4em;
}
small {
	font-size: 86%;
}
kbd {
	font-size: 80%;
	border: 1px solid #999;
	padding: 2px 5px;
	border-bottom-width: 2px;
	border-radius: 3px;
}
mark {
	background-color: #ffce00;
	color: black;
}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl {
	margin: 1.5em 0;
}
hr {
	height: 1px;
	border: none;
	background-color: #666;
}

/* Heading */
h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 0.8em;
	letter-spacing: -0.5px;
}
h1 {
	font-size: 200%
}
h2 {
	font-size: 180%
}
h3 {
	font-size: 160%
}
h4 {
	font-size: 140%
}
h5 {
	font-size: 120%
}
h6 {
	font-size: 100%
}

/* List */
ol,ul,dl {
	margin: .8em 0em .8em 3em;
}
ol {
	list-style: decimal outside;
}
ul {
	list-style: disc outside;
}
li {
	margin: .5em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .5em 2em;
}

/* Form */
input,button,select,textarea {
	font: inherit;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}
textarea {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
pre,code {
	font-family: "Courier New",Courier,Monospace;
	color: inherit;
}
pre {
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

/* Blockquote */
blockquote {
	background: #F6F7F9;
    margin-left: 2em;
    margin-right: 2em;
    border-left: 4px solid #DDDFE2;
    padding: 1em 1em;
    font-style: italic;
}

/* Table */
table[border="1"] td, table[border="1"] th {
	vertical-align: top;
	text-align: left;
	font-size: 13px;
	padding: 3px 5px;
	border: 1px solid #ededed;
}
table[border="1"] th {
	background: #F6F7F9;
}

table, img {
	max-width: 100%;
	height: auto;
}
img, iframe {
	max-width: 100%;
}

/* BLOGGER DEFAULT CSS RESET */

.section, .widget {
	margin: 0 0 0 0;
}
.navbar, .blog-feeds, .feed-links, #backlinks-container {
	display:none;
}
.inline-ad {
	margin: 20px 0;
	background: #fff;
    padding: 20px;
}

body {
	background:#f5f5f5;font-family:'Roboto',sans-serif;font-size:14px;font-weight:400;text-align:left;color:#222;margin:0;padding:0
}
#wrapper {
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}
.maxwrap {
    max-width:970px;margin:0 auto;
}

/* Arlina Top Menu */
.page_menu_wrapper{background:#34495e;width:100%;margin:0 auto}
.page-menu ul li{position:relative;list-style:none;display:inline-block;float:left;transition:all .1s}
.page-menu{float:left;width:auto;height:auto;padding:0;margin:0 5px 0 0;font-size:100%;font-weight:400}
.page-menu ul{margin:0 auto;padding:0;line-height:3em}
.page-menu ul li a{color:rgba(255,255,255,.85);padding:15px;font-weight:700;border-right:1px solid rgba(0,0,0,0.03);text-decoration:none;text-transform:uppercase;font-size:10px;transition:all .6s}
.page-menu ul li:first-child a{background:#2ecc71;color:rgba(255,255,255,1);border-left:1px solid rgba(0,0,0,0.03)}
.page-menu ul li a i{margin:0 5px 0 0;font-weight:normal;}
.search-box{display:none;width:230px;height:27px;float:right;padding:0;position:relative;transition:all .1s}
#search-form,#searchform,.search-button{border:0;line-height:27px}
#searchform{position:relative;border:0;margin:9px 0 0 0}
#search-form{background:rgba(255,255,255,1);border-radius:3px;color:rgba(0,0,0,.5);width:100%;padding:0 30px 0 10px;height:27px;line-height:27px;font-size:13px;margin:0;transition:all .3s}
.search-button{background:none;width:30px;padding:0;text-align:center;margin:0;top:0;right:0;font-size:13px;color:#999;position:absolute;border-radius:0;text-shadow:none;box-shadow:none}
#search-form:focus,#search-form:hover,.search-button:focus,.search-button:hover{background:rgba(255,255,255,.95);border:none;outline:0;color:rgba(0,0,0,.5)}
.sosial-atas{float:right;width:auto;height:auto;padding:0;font-weight:400}
.sosial-atas li{float:left;list-style:none;display:inline-block;transition:all .1s}
.sosial-atas li a{display:block;color:rgba(255,255,255,.85);padding:0 10px;border-right:1px solid rgba(0,0,0,0.03);text-decoration:none;text-transform:uppercase;line-height:43px;font-size:10px;font-weight:700;transition:all .6s}
.sosial-atas li a:first-child{border-left:1px solid rgba(0,0,0,0.03);}
.sosial-atas li a i {width:15px;text-align:center;}
.page-menu ul li a:hover,.page-menu ul li:hover a,.sosial-atas li a:hover,.sosial-atas li:hover a{background:#2ecc71;color:rgba(255,255,255,1)}
.page-menu ul li a:after{border-left:6px solid transparent;border-right:6px solid transparent;border-top:none;height:0;width:0;bottom:0;content:"";left:50%;margin-left:-5px;position:absolute;transition:all .3s}
.page-menu ul li a:hover:after{border-bottom-color:#fff;}
.page-menu ul li a:hover:after,.page-menu ul li:first-child a:after{border-bottom-color:#fff;}


/* HEADER */

#header{
    background:#fff;position:relative;display:block;padding:0;color:#4e5665;height:93px;margin:0 auto 20px auto;border-bottom:1px solid  rgba(0,0,0,0.14);box-shadow:0 1px 4px rgba(0,0,0,0.07);
}
#header .title{
    font-size:210%;margin:15px 0 0 0;padding:0;display:inline-block;width:100%;max-width:240px;
}
#header .title a{
    color:#222;
}
#header .title a:hover {
    color:#2ecc71;
}
#header p.description{
    font-size:90%;margin:5px 0 0 0;display:inline-block;line-height:normal;
}
.header img {
    display:block;height:auto;
}
#headerdua {
    float:left;
}
/* WIDGET BAWAH HEADER DAN ATAS FOOTER*/

#bawah-header, #atas-footer {
	max-width: 100%;
}

#bawah-header .widget-content, #atas-footer .widget-content {
	background: #fff;
	padding: 15px;
	overflow: hidden;
}

#bawah-header .widget {
	margin-top: 20px;
}

#atas-footer .widget {
	margin-bottom: 20px;
}


#bawah-header h2, #atas-footer h2 {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    background: #ffffff;
    color: #4C565F;
    font-size: 18px;
    padding: 20px 20px 0px;
    margin: 0 0 0 0;
}

/* KONTEN WRAPPER */

#content-wrapper {
	padding: 20px 0;
	overflow: hidden;
}	

/* KOTAK POSTING */

.kotak-posting {
	margin: 0 20px 0 0;
	padding: 0;
	word-wrap: break-word;
}
#posting {
	float: left;
	max-width: 660px;
	width: 66%
}
.breadcrumbs {
	text-align: left;
    padding: 26px;
    margin: 0 0 20px;
	font-size: 13px;
    line-height: 1.4;
    border-bottom: none;
    background: #fff;
}
.post {
	background: #ffffff;
	position: relative;
	padding: 20px;
	margin: 0;
	overflow: hidden;
}
.post-box {
	margin-left: 10px;
}
.post-footer {
    margin: 15px 0 0;
	padding: 14px 0 0;
	font-size: 13px;
    border-top: 1px solid #F0F1F3;
    color: #AFAFAF;
}
.item-post-footer {
	font-size: 13px;
	margin: 20px 0 0;
	padding: 10px 0;
	border-top: 1px solid #F0F1F3;
    border-bottom: 1px solid #F0F1F3;
	color: #AFAFAF;
}
.item-post-footer abbr {
	border-bottom: none;
}
.post-body {
	line-height: 1.5;
}
h2.post-title {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	line-height: 1.3;
	margin: 0;
	padding: 0 0 15px;
	font-size: 24px
}
h1.post-title {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	line-height: 1.3;
	margin: 0;
	font-size: 28px;
	padding: 0 0 20px 
}
h2.post-title a, h1.post-title a {
	color: #4C565F;
}
h2.post-title a:hover, h1.post-title a:hover {
	color: #219FDE;
}

/* Related posts */
#related-post-desktop {
	overflow: hidden;
	margin: 0 ;
	padding:30px 0 0;
}
#related-post-desktop h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 8px;
	margin: 0;
	color: #4C565F;
}
#related-post-desktop ul {
	margin-left: 20px;
	padding: 0 0 0 10px;
}
#related-post-desktop ul li {
	padding: 0 0 8px;
}
.quickedit{
display:none;
}
/* Author profile box */
.author-profile {
    padding: 15px 0;
    margin: 20px 0px;
    overflow: hidden;
    border-top: 2px solid #F6F7F9;
    border-bottom: 2px solid #F6F7F9;
}
.author-profile img {
	border: 1px solid #F6F7F9;
	float: left;
	margin-right: 15px;
}
.author-profile a.g-profile {
	font-weight: bold;
}